* {
  box-sizing: border-box;
}

.banner {
  background-image: url("/images/homepage.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bannerText {
  color: white;
}
